GOKA_MODE=default # default, months, years
GOKA_LOGLEVEL=info
GOKA_CARD={card number}
GOKA_PASS={card password}
GOKA_LOGINURL=https://potko.ekoplus.si/vs_uporabniki/login
GOKA_DASHBOARDURL=https://potko.ekoplus.si/vs_uporabniki/dashboard
GOKA_BASEURL=https://potko.ekoplus.si
GOKA_DATEFROM=2026-03-01
GOKA_DATETO=2026-03-31
GOKA_COSTBIO=0.1350
GOKA_COSTMKO=2.5626
GOKA_MINBIO=1.0800
GOKA_MINMKO=15.3756
